[submodule "joystick_drivers"]
	path = joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers
[submodule "autonomy/catkin_ws/src/joystick_drivers"]
	path = autonomy/catkin_ws/src/joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers
[submodule "autonomy/catkin_ws/src/serial"]
	path = autonomy/catkin_ws/src/serial
	url = https://github.com/wjwwood/serial
