ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

li {
    margin: 0;
}

li p {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

img {
    width: 5rem;
}

#front_img {
    transform: rotate(0deg);
}

#back_img {
    transform: rotate(180deg);
}

#left_img {
    transform: rotate(270deg);
}

#right_img {
    transform: rotate(90deg);
}