<launch>
	<node pkg="frontend" type="teleop_node" name="teleop_node" output="screen">
		<param name="angular_scale" type="double" value="1.0"/>
		<param name="linear_scale" type="double" value="1.0"/>
	</node>
	<node pkg="joy" type="joy_node" name="joy_node" output="screen">
		<param name="dev_name" type="string" value="Saitek"/>
	</node>
</launch>